<h3>Feed my Pet</h3>
From Your Woofs screen, press Feed Now button. Alert will be displayed on the screen indicating that your pet has been fed<br>
<%= image_tag 'ios_screenshots/IMG_1026.PNG', style: 'height:550px; width:auto;', class: 'pb-5'%>
<%= image_tag 'ios_screenshots/IMG_1046.PNG', style: 'height:550px; width:auto;', class: 'pb-5'%>

<h3>Feeding History</h3>
Press the View Feeding History button from Your Woofs screen. New view will be displayed which contains all the feeding history for your pet.<br>
<%= image_tag 'ios_screenshots/IMG_1026.PNG', style: 'height:550px; width:auto;', class: 'pb-5'%>
<%= image_tag 'ios_screenshots/IMG_1043.PNG', style: 'height:550px; width:auto;', class: 'pb-5'%>