<div class = 'row'>
    <div class = 'col-md-12 tutorial-home rounded'>
        <p>
            <h3>1. Viewing Groups and Pet Info</h3>
            <hr class = 'my-4'>
            Slide over to the Red background menu screen. From there, press Account & Groups button. Bottom two tabs will reveal the different pets and groups that you are associated with. Select one of the group name and the new screen will reveal all the list of members in the group.<br>
        </p>

        <%= image_tag 'ios_screenshots/IMG_1027.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail'%>
        <%= image_tag 'ios_screenshots/IMG_1040.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>
        <%= image_tag 'ios_screenshots/IMG_1039.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail'%>
        <%= image_tag 'ios_screenshots/IMG_1041.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail'%>
    </div>
</div>
