<div class = 'row'>
    <div class = 'col-md-9 offset-md-1 tutorial-home rounded'>
        <p>
            <h3>1. Asking other members of the group</h3>
            <hr class = 'my-4'>
            From Your Woofs screen, press Ask Group button from one of your pet. Notification will be pushed out to all the users and will ask everyone in the group whether the pet has been fed or not.<br>
        </p>
        <%= image_tag 'ios_screenshots/IMG_1026.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>
        <%= image_tag 'ios_screenshots/IMG_1044.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>

        <p>
            <h3>2. Viewing Responses</h3>
            <hr class = 'my-4'>
            From Your Woofs screen, press View Response button. It will display a new view and will display the response of the users.<br>
        </p>
        <%= image_tag 'ios_screenshots/IMG_1026.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>
        <%= image_tag 'ios_screenshots/IMG_1042.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>
    </div>
</div>
