<div class = 'row'>
    <div class = 'col-md-9 offset-md-1 tutorial-home rounded'>
        <p>
            <h3> Sign Up </h3>
            Enter the required credentials. The password should be more than 6 characters. Email confirmation would be sent to the email address provided.
        </p>
        <%= image_tag 'web_screenshots/sign_up_1.JPG', style: 'height:550px; width: auto;', class: 'img-thumbnail' %><br>
        <p>
            You need to confirm to create the account. Sign In using the credentials used.
        </p>

        <%= image_tag 'web_screenshots/sign_in_1.JPG', style: 'height:550px; width:85%;', class: 'img-thumbnail' %><br>
        <p>
            After the account is confirmed, enter your email address and password to login into the website
        </p>
        <%= image_tag 'web_screenshots/sign_in_2.JPG', style: 'height:550px; width: auto;', class: 'img-thumbnail' %><br>
        <%= image_tag 'web_screenshots/sign_in_3.JPG', style: 'height:550px; width:85%;', class: 'img-thumbnail' %><br>
    </div>
</div>
