<div class = 'row'>
    <div class = 'col-md-9 offset-md-1 tutorial-home rounded'>
        <p>
            <h3>Group Chats</h3>
            You can chat with all the members of the group that you belong to in real time. Just click on ‘Group Chats’ option and select which Group chat you want to take part in.
        </p>
        <%= image_tag 'web_screenshots/group_chat_index.JPG', style: 'height:550px; width: auto;', class: 'img-thumbnail' %><br>
        <%= image_tag 'web_screenshots/specific_chat.JPG', style: 'height:550px; width: auto;', class: 'img-thumbnail' %><br>
    </div>
</div>
