<div class = 'row'>
    <div class = 'col-md-9 offset-md-1 tutorial-home rounded'>
        <p>
            <h3>1. Sign In</h3>
            <hr class = 'my-4'>
            From the main launch screen, press the Log In button. Enter your email and password, and press Log In button again.<br>
            <%= image_tag 'ios_screenshots/IMG_1024.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>
            <%= image_tag 'ios_screenshots/IMG_1025.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>
        </p>
    </div>
</div>
