<div class = 'row'>
    <div class = 'col-md-9 offset-md-1 tutorial-home rounded'>
        <p>
            <h3>1. Feed my Pet</h3>
            <hr class = 'my-4'>
            From Your Woofs screen, press Feed Now button. Alert will be displayed on the screen indicating that your pet has been fed<br>
        </p>
        <%= image_tag 'ios_screenshots/IMG_1026.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>
        <%= image_tag 'ios_screenshots/IMG_1046.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>

        <p>
            <h3>2. Feeding History</h3>
            <hr class = 'my-4'>
            Press the View Feeding History button from Your Woofs screen. New view will be displayed which contains all the feeding history for your pet.<br>
        </p>
        <%= image_tag 'ios_screenshots/IMG_1026.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>
        <%= image_tag 'ios_screenshots/IMG_1043.PNG', style: 'height:550px; width:auto;', class: 'img-thumbnail' %>
    </div>
</div>