<div>
  <h5 align="center">Chat with <%= @other_user.first_name %> <%= @other_user.last_name %></h5>
  <% if @chat.messages.any? %>
    <div id="messages" style="max-width: 500px; margin: 0 auto;">
      <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>
    </div>
  <%else%>
    <div id="messages" style="max-width: 500px; margin: 0 auto;">
    </div>
  <%end%>
</div style="margin-top: 5px;">
<%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>
</div>
