.other-message-format{
    background-color:#E8E8E8;
    padding: 5px;
    margin: 10px;
    width: 80%;
    float: left;
    border-radius: 35px;
}

.my-message-format{
    background-color:#0066CC;
    padding: 5px;
    margin: 10px;
    color: white;
    width: 80%;
    float: right;
    border-radius: 35px;
}